<p>
  interpolate works!
</p>

<h2>3.2 INTERPOLATION</h2>
<p>
  {{nom}}
</p>
<p>
  {{getFullname()}}
</p>
<p>
  Nom de la formation: {{formation.nom}} / 
  Description: {{formation.description}}
</p>

<h2>3.3 PARAMETRE OPTIONNEL</h2>
<p>   
    Optional: {{formationJS?.nom}}
</p>

<h2>3.4.1 BINDING PARAMETRES</h2>
<p [style.color]= "color">
  BINDING DE PROPRIETE
</p>

<h2>3.4.2 BINDING EVENT</h2>
<div>
    <button (click)="handleClick()">cliquez</button>
</div>
<p *ngIf="visible === true" 
    (mouseover)="handleMouseOver()"
    (mouseout)="handleMouseOut()">
    texte de simulation pour les evenements click, mouseOver et mouseOut
</p>

<h2>3.5 VARIABLE LOCALE</h2>
<div>
    <input type="text"
        #customVariable
        placeholder="Saisir une valeur">
    <div>test variable locale : {{customVariable.value}}</div>
</div>
<p></p>
<div>
  <button (click)="customVariable.focus()">Focus the input</button>
</div>


<h2>3.6. NGIF</h2>
<div>
    
  <div *ngIf = "isDisplay; else title">
      <p>Nom de la formation: {{formation.nom}} / 
      Description: {{formation.description}}</p>
  </div>
  <ng-template #title><p>Pas de formation disponible</p></ng-template>

  <button (click)="handleClick2()">supprimer / ajouter la formation</button>

</div>

<h2>3.6.2 NGFOR   &   3.6.3 NGSWITCH</h2>
<div [ngSwitch]="formations.length">
    <p *ngSwitchCase="0">Aucune formation disponibles</p>
    <p *ngSwitchCase="1">Une formation disponible : </p>
    <p *ngSwitchDefault>Formations disponibles :</p>
</div>
<ul>
<li *ngFor="let formation of formations; index as i; first as f; even as e; last as l">
  <p [style.color]="getColorByElement (f , l)" [style.background]="getFontByElement (e)">
    {{i}} - {{ formation.nom }}</p>
</li>
</ul>

<h2>3.7.1 NGSTYLE</h2>
<div [ngSwitch]="formations.length">
    <p *ngSwitchCase="0">Aucune formation disponibles</p>
    <p *ngSwitchCase="1">Une formation disponible : </p>
    <p *ngSwitchDefault>Formations disponibles :</p>
</div>
<ul>
<li *ngFor="let formation of formations; index as i; first as f; even as e; last as l">
  <p [ngStyle]="{color: getColorByElement (f , l), background: getFontByElement (e)}">
    {{i}} - {{ formation.nom }}</p>
</li>
</ul>

<h2>3.7.2 NGCLASS</h2>
<div [ngSwitch]="formations.length">
    <p *ngSwitchCase="0">Aucune formation disponibles</p>
    <p *ngSwitchCase="1">Une formation disponible : </p>
    <p *ngSwitchDefault>Formations disponibles :</p>
</div>
<ul>
<li *ngFor="let formation of formations; index as i; first as f; even as e; last as l">
  <p [ngClass]="{'first': f, 'last': l, 'even': e}">
    {{i}} - {{ formation.nom }}</p>
</li>
</ul>

<h2>3.8 PIPE</h2>

<div [ngSwitch]="formations.length">
  <p *ngSwitchCase="0">Aucune formation disponibles</p>
  <p *ngSwitchCase="1">Une formation disponible : </p>
  <p *ngSwitchDefault>Formations disponibles :</p>
</div>
<ul>
<li *ngFor="let formation of formations; index as i; first as f; even as e; last as l">
<p [ngClass]="{'first': f, 'last': l, 'even': e}">
  {{i}} - {{ formation.nom | titlecase }} - {{ formation.prix | currency:'EUR' }} - {{ formation.debut | date:'dd/MM/yyyy' }} - {{ formation.fin | date:'dd/MM/yyyy' }}</p>
</li>
</ul>








