<p>
  interpolate works!
</p>
<p>
  {{nom}}
</p>
<p>
  {{getFullname()}}
</p>
<p>
  Nom de la formation: {{formation.nom}} / 
  Description: {{formation.description}}
</p>
<p>   
    Optional: {{formationJS?.nom}}
</p>

<p [style.color]= "color">
  BINDING DE PROPRIETE
</p>
<div>
    <button (click)="handleClick()">cliquez</button>
</div>
<p *ngIf="visible === true" 
    (mouseover)="handleMouseOver()"
    (mouseout)="handleMouseOut()">
    texte de simulation pour les evenements click, mouseOver et mouseOut
</p>

<div>
    <input type="text"
        #customVariable
        placeholder="Saisir une valeur">
    <div>test variable locale : {{customVariable.value}}</div>
</div>
<div>
  <button (click)="customVariable.focus()">Focus the input</button>
</div>